* {
  margin: 0;
  padding: 0;
  color: #fff;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background: #b8b8b8;
  text-align: center;
}
h1 {
    margin-top: 5%;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 4%;
    color: rgb(65, 65, 0);
}
h2{
    color: black;
}

.menu {
    width: 100%;
    margin-top: 50%;
} 
.nav-li{
    font-family: sans-serif;
    padding: 4%;
    font-size: 30px;
    color: black;
}
.nav-li:before {
    content: "";
}
li:before {
    content: "✓";
}
li {
    font-weight: lighter;
    color: black;
    font-size: 17px;
    padding: 1%;
}
ul {
    list-style: none;
    font-weight: bolder;
    color: black;
}
a {
    text-decoration: none;
    font-size: 25px;
}
.nav-a{
    font-size: 30px;
color: rgb(36, 35, 0);
font-weight: bolder;

}
p{
    color: black;
}
a:hover {
    font-size: 35px;
}
.content {
    background-color: rgb(221, 221, 221);
    box-shadow: 10px 10px 8px 3px #888888;
    margin: 3%;
    color: black;
    padding: 4%;
    font-size: 17px;
}
.link {
    display: block;
    text-decoration: underline;
    padding: 2%;
    color: darkblue;
    font-size: 18px;
}
.link:hover {
    font-size: 25px;
}
@media screen and (min-width:650px){
    a {
        font-size:30px ;
    }
    .menu {
        margin-top: 30%;
    }
    h1 {
        font-size: 40px;
    }
    li {
        font-size: 20px;
    }
}
@media screen and (min-width:800px){
    .menu {
        margin-top: 20%;
    }
}
@media screen and (min-width:1100px){
    .menu {
        margin-top: 10%;
    }
    li {
        padding: 2%;
    }
    .content{
        margin: 3% 16%;
    }
}
@media screen and (min-width:1400px){
    .content{
        margin: 3% 24%;
    }
}