* {
  margin: 0;
  padding: 0;
  color: #fff;
}

body {
  font-family: sans-serif;
  background: #2b2769;
  text-align: center;
}
h1 {
    padding-top: 4%;
    color: rgb(216, 216, 20);
}
h2{
    color: black;
}

.menu {
    width: 100%;
    margin-top: 50%;
} 
.nav-li{
    padding: 4%;
}
.nav-li:before {
    content: "";
}
li:before {
    content: "✓";
}
li {
    font-weight: lighter;
    color: black;
    font-size: 20px;
    padding: 1%;
}
ul {
    list-style: none;
    font-weight: bolder;
    color: black;
}
a {
    text-decoration: none;
    font-size: 25px;
}
p{
    color: black;
}
a:hover {
    font-size: 35px;
}
.content {
    background-color: thistle;
    margin: 3%;
    color: black;
    padding: 4%;
    font-size: 17px;
}
.link {
    display: block;
    text-decoration: underline;
    padding: 2%;
    color: darkblue;
    font-size: 18px;
}
.link:hover {
    font-size: 25px;
}
@media screen and (min-width:650px){
    a {
        font-size:30px ;
    }
    .menu {
        margin-top: 30%;
    }
}
@media screen and (min-width:800px){
    .menu {
        margin-top: 20%;
    }
}
@media screen and (min-width:1100px){
    .menu {
        margin-top: 10%;
    }
    li {
        padding: 3%;
    }
}